


body
{
    margin: 5% 20%;
    text-align: center;
}


textarea{

    margin: 5% 20%;
    text-align: center;
    color: blue;
}

section{

    color: black;
}

footer{
    text-align: center;
    margin: 5% 20%;
}

button {
    text-align: center;
    margin: 5% 20%;

}